* {
  box-sizing: border-box;
}
:root {
  --font-heading: "Sen", sans-serif;
  --primary-color: #ffb900;
}
html {
  font-size: 62.5%;
}
/* khôi phục lại cỡ chữ mặc định theo rem */
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
.header {
  background: aqua;
}
.header.flexed {
  z-index: 1;
  position: sticky;
  top: -28px;
}
.line-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: var(--line-clamp, 1);
}
.line-clamp.line-2 {
  --line-clamp: 2;
}
a {
  text-decoration: none;
}
.heading-lv2 {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.27;
  letter-spacing: -0.76px;
}
.btn {
  display: inline-block;
  min-width: 118px;
  padding: 0px 16px;
  line-height: 50px;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 999px;
  background: #171100;
}
.btn:hover {
  cursor: pointer;
  opacity: 0.9;
}
.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0px 8px;
}
.nav ul {
  display: flex;
}
.nav {
  margin-left: auto;
}
.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}
.nav a {
  position: relative;
  color: #5f5d53;
  font-size: 1.6rem;
  padding: 8px 21px;
}
.nav li.active a,
.nav a:hover {
  color: #171100;
  /* font-weight: 600; */
  text-shadow: 1px 0 0 currentColor;
}
.nav li.active a::after {
  position: absolute;
  left: 21px;
  bottom: 6px;
  display: block;
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background-color: #171100;
}
.header .btn-sign-up {
  min-width: 144px;
}
.header .action {
  margin-left: 49px;
  /* ------------hero------------ */
}
.hero {
  padding: 56px 0px 65px;
  background: #fffcf4;
}
.hero .body {
  display: flex;
}
/* --------------hero left----------- */
.hero .media-block {
  position: relative;
  width: 48%;
}
.hero .content-block {
  width: 52%;
}
.hero .hero-summary {
  position: absolute;
  bottom: 48px;
  right: 0px;
  width: 270px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0 05);
  width: 270px;
  padding: 24px;
}
.hero-summary .item {
  display: flex;
  align-items: center;
}
.hero-summary .item + .item {
  margin-top: 22px;
}
.hero-summary .icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff9e8;
}
.hero-summary .icon2 {
  background-color: #fcefff;
}
.hero-summary .icon3 {
  background: #ebeaff;
}
.hero-summary .info {
  margin-left: 16px;
}
.hero-summary .label {
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 1.86;
}
.hero-summary .title {
  color: #171100;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67;
}
/* -------------hero right------------- */
.hero .content-block {
  width: 52%;
  padding-left: 130px;
  padding-top: 64px;
}
.hero .heading {
  color: #171100;
  font-family: var(--font-heading);
  font-weight: 700;
  font-size: 5.8rem;
  line-height: 1.17;
  letter-spacing: -1.16px;
}
.hero .desc {
  margin-top: 22px;
  color: #5f5b53;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.67;
}
.hero .cta-group {
  margin-top: 38px;
  display: flex;
  align-items: center;
}
.hero-cta {
  min-width: 180px;
  background-color: var(--primary-color);
}
.hero .watch-video {
  border: none;
  background-color: transparent;
  display: flex;
  margin-left: 28px;
  align-items: center;
  cursor: pointer;
}
.hero .watch-video .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.07);
}
.hero .watch-video span {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
  margin-left: 14px;
}
.hero .desc-recent {
  margin-top: 18px;
}
.hero .start strong {
  margin-right: 15px;
  color: #171100;
  font-family: var(--font-heading);
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 1.23;
}
.hero .start strong:nth-child(2) {
  margin-left: 28px;
}
.hero .start {
  margin-top: 8px;
}
/* ---------------popular------------- */
/* -------------popular top----------- */
.popular {
  padding: 65px 0px;
  background-color: #bdf2fd;
  margin-top: 135px;
}
.popular-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popular-top .desc {
  margin-top: 16px;
  color: #5f5b53;
  font-size: 1.8rem;
  line-height: 1.67;
  width: 458px;
}
.popular-top .control {
  display: flex;
  gap: 18px;
}
.popular-top .control-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
.popular-top .control-btn:hover {
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
}
/* ------------course---------- */
.popular .course-list {
  display: flex;
  gap: 30px;
  margin-top: 55px;
}
.popular .course-item {
  flex: 1;
  border-radius: 12px;
  border: 1px solid #e2dfda;
  background: #fff;
}
.popular .course-item:hover {
  border: 1px solid #ff0000;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}
.popular .course-item .thumb {
  width: 100%;
  height: 278px;
  border-radius: 12px 12px 0px 0px;
  object-fit: cover;
}
.popular .course-item .info {
  padding: 16px 22px 22px;
}
.popular .course-item .foot,
.popular .course-item .rating,
.popular .course-item .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.popular .course-item .title a {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}
.popular .rating .value {
  margin-left: 6px;
  color: var(--primary-color);
  font-size: 1.6rem;
  line-height: 1.75;
}
.popular .course-item .desc {
  margin-top: 6px;
  color: #5f5b53;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.86;
}
.popular .course-item .foot {
  margin-top: 12px;
}
.popular .course-item .price {
  color: #171100;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67;
}
.popular .course-item .btn-book {
  border: none;
}
.popular .course-item .btn-book:hover {
  background: var(--primary-color);
}
/* --------------feedback--------------- */
.feedback {
  margin-top: 135px;
  padding: 96px 0;
  background: rgb(0, 255, 238);
}
.feedback-list {
  display: flex;
  overflow: hidden;
}
.feedback-item {
  width: 100%;
  display: flex;
  flex-shrink: 0;
}
.feedback-item .avatar {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  object-fit: cover;
}
.feedback-item .info .name {
  margin-top: 18px;
  color: #f7f7f7;
  font-family: var(--font-heading);
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 1.42;
}
.feedback-item .info .desc {
  margin-top: 4px;
  color: #bfbcb2;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.86;
}
.feedback-item .dots {
  gap: 6px;
  display: flex;
  margin-top: 28px;
}
.feedback-item .dot.active {
  background-color: var(--primary-color);
  cursor: default;
}
.feedback-item .dot {
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #004cff;
  cursor: pointer;
}
.feedback-item .content {
  width: 66%;
  margin-left: auto;
}
.feedback-item blockquote {
  color: #fff;
  font-style: Italic;
  font-size: 2.6rem;
  line-height: 1.54;
}
/* ----------------features------------- */
.features {
  margin-top: 135px;
  padding: 65px 0px;
  background: aquamarine;
}
.features .body {
  display: flex;
  justify-content: space-between;
}
.features .body .images {
  display: flex;
  gap: 30px;
}
.features .images img {
  width: 270px;
  height: 405px;
  border-radius: 16px;
  object-fit: cover;
}
.features .lower {
  margin-top: 34px;
}
.features .content {
  width: 41%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.features .desc {
  margin-top: 16px;
  color: #5f5b53;
  font-size: 1.6rem;
  line-height: 1.75;
}
.features .cta-btn {
  margin-top: 32px;
  width: 137px;
  height: 50px;
  background: var(--primary-color);
}
